<html>
<head>
	<title>Hello World</title>
</head>
<body>
	<h1>
		Hello, <%= @user.first_name %>!
	</h1>
	<h4>
		Your email is: <%= @user.email %>.
		<br>
		Thanks for visiting!
	</h4>
</body>
</html>

